@page
@model MyScriptureJournal.Pages.JournalEntries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
           <select asp-for="JournalBookEntry" asp-items="Model.Entries">
                <option value="">All</option>
            </select> 
            Search By Book Name or Note: <input type="text" asp-for="SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.JournalEntry[0].Book)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JournalEntry[0].Chapter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JournalEntry[0].Verses)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JournalEntry[0].Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JournalEntry[0].CreatedDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.JournalEntry) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chapter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Verses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.JournalEntryId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.JournalEntryId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.JournalEntryId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
